:root {
    --fg: #e0def4;
    --surface: #4c566a;
    --bg: #2e3440;
    --gb-1: #3b4252;
}

body {
    background-color: var(--bg);
    font-family: 'Readex Pro', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    color: var(--fg);
}

a {
    color: var(--fg);
    text-decoration: none;
    transition: color 0.1s cubic-bezier(0.45, 0, 0.2, 1);
}

a:hover {
    color: #88c0d0;
    text-decoration: underline;
}

.header-links {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: var(--surface);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.header-links a {
    width: fit-content;
    padding: 1rem;
}

.repos {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    height: 20px;
    transition: all 0.5s cubic-bezier(0.45, 0, 0.2, 1);
}

.repos-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
}

.repos-links a {
    opacity: 0;
    margin-left: 0;
    padding: 0;
    transition: all 0.5s cubic-bezier(0.45, 0, 0.2, 1);
}

h1 {
    color: var(--fg);
    margin-bottom: 1rem;
}

/* Cards */
.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 4rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;

    background-color: var(--gb-1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: var(--fg);
    padding: 0.5rem;
    width: 160px;
    height: auto;
    opacity: 0;
    transform: translateY(10px) scale(1);
    transition: all 0.3s ease;
}

.card:hover {
    transform: scale(1.1);
}

.card.show {
    opacity: 1;
    transform: translateY(0) scale(1);
}

.card.show:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card p {
    width: 160px;
    margin: 0;
}

.card .source {
    font-size: 0.8em;
    text-decoration: underline;
}

.disabled {
    color: #697897;
    cursor: not-allowed;
}

.card .author {
    color: #697897;
    overflow: inherit;
    text-overflow: ellipsis;
}

.card .description {
    font-size: 0.8em;
    opacity: 0;
    max-height: 0;
    transform: translateY(-10px);
    transition: all 0.5s cubic-bezier(0.45, 0, 0.2, 1);
}

.card:hover .description {
    opacity: 1;
    max-height: 10rem;
    transform: translateY(0);
    text-wrap: wrap;
}

.card .download {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--surface);
    height: 30px;
    width: 145px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.card .download:hover {
    background-color: #434c5e;
    text-decoration: none;
}

.card .download:active {
    transform: scale(0.9);
}

.cut-text {
    overflow: hidden;
    text-overflow: ellipsis;
}
