{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Anarchy</title>
        <link
            rel="icon"
            type="image/x-icon"
            href="{% static 'photo/logo.png' %}"
        />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap"
        />
        <script src="{% static 'js/script.js' %}" defer></script>
        <meta
            name="description"
            content="Website with best cheats for CS 1.6"
        />
        <meta name="keywords" content="cs 1.6, cheats, hacks, anarchy" />
        <meta name="author" content="Anarchy Loader" />
        <meta name="robots" content="index, follow" />
    </head>
    <body>
        <header class="header-links">
            <div class="logo">
                <a href="/"
                    ><img
                        src="{% static 'photo/logo.png' %}"
                        width="50"
                        alt="Logo"
                /></a>
            </div>
            <nav class="nav-links">
                <a
                    href="https://github.com/AnarchyLoader/AnarchyLoader"
                    target="_blank"
                    >Repo</a
                >
                <a href="https://discord.gg/YzwcDCsRe8">Discord</a>
                <a href="/api/">API</a>
                {% if is_admin %}
                <a href="/admin">Admin</a>
                {% endif %}
            </nav>
        </header>
        <main class="client-grid">
            {% for hack in hacks %}
            <div class="client-box">
                <p>{{ hack.name }}</p>
                <p>{{ hack.author }}</p>
                <a href="https://cdn.collapseloader.org/anarchy/{{ hack.file }}"
                    ><button>Download</button></a
                >
            </div>
            {% endfor %}
        </main>
    </body>
</html>
